<ion-view view-title="Playlist">
  <ion-content>
    <h1>Playlist</h1>
  </ion-content>
</ion-view>
<ion-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <!-- <form ng-submit="doLogin()"> -->
      <div class="list">
              <!-- <label class="item"> -->
          <img src="/img/sign-in-button.png" height="42" width="182" ng-click="doLogin()" >
          <!-- <button ng-click="doLogin()" > submit</button> -->
        <!-- </label> -->
      </div>
    <!-- </form> -->
  </ion-content>
</ion-view>