<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Ratting</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeReview()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
        
        <div class="list">
        <label class="item">
          <button class="button button-block button-positive" ng-click="reviewButt1()">Drunk Driving</button>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="reviewButt2()">Overspeeding</button>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="reviewButt2()">Red Light Jump</button>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="reviewButt3()">Ignore Traffic Signs</button>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="reviewButt3()">Other</button>
        </label>

      </div>
  </ion-content>
</ion-modal-view>
